<form asp-controller="Users" asp-action="ImportUsers" method="post" enctype="multipart/form-data">
    <div class="form-group w-25">
        <input type="file" name="file" class="form-control" />
    </div>
    
    <br />
    <button type="submit" class="btn btn-success">Import Users</button>
</form>